In [7]:
import json
import pymongo

In [79]:
client = pymongo.MongoClient("mongodb://localhost:27017/")


client.list_database_names()

db = client["w2_a6_2"]
collection = db["students"]

file = open("People.json", "r")
data = json.load(file)
file.close()
students = data["students"]
# collection.insert_many(students)

# 1
print("The full name of anyone over 25:")
res = collection.find({"age":{"$gt":25}},{"_id":0, "fullName":1})
for r in res:
    print(f"{r['fullName']['title']}. {r['fullName']['first']} {" ".join(r['fullName']['other'])} {r['fullName']['surname']}")

The full name of anyone over 25:
Mrs. Lisa Melanie Penny
Mr. Lorenzo Ruelle Garlen Dubois
Mr. Tanveer Vihaan Patel

In [80]:
# 2
print("\nThe id of anyone who does not have any middle names:")
res = collection.find({"fullName.other":{"$elemMatch":{"$eq": None}}},{"_id":0, "id":1})
for r in res:
    print(f"{r['id']}")

The id of anyone who does not have any middle names:
546854

In [88]:
# 3
print("\nCount how many men and how many women (separately) are not living in Tokyo:")
res = collection.count_documents({"$and":[
    {"fullName.title": {"$eq":"Mr"}},
    {"city":{"$ne":"Tokyo"}},    
]})
print(f"Men not living in Tokyo: {res}")

res = collection.count_documents({"$and":[
    {"fullName.title": {"$ne":"Mr"}},
    {"city":{"$ne":"Tokyo"}},    
]})
print(f"Women not living in Tokyo: {res}")

Count how many men and how many women (separately) are not living in Tokyo:
Men not living in Tokyo: 2
Women not living in Tokyo: 2