In [4]:
import numpy as np
import pandas as pd
import csv, sqlite3

In [5]:
conn = sqlite3.connect(":memory:")  # change to 'sqlite:///your_filename.db'

In [15]:
activity_log_df = pd.read_csv("ACTIVITY_LOG.csv")
component_df = pd.read_csv("COMPONENT_CODES.csv")
user_log_df = pd.read_csv("USER_LOG.csv")

In [16]:
col_name_change = {'User Full Name *Anonymized': 'Uid'}
activity_log_df.rename(columns=col_name_change, inplace=True)
user_log_df.rename(columns=col_name_change, inplace=True)

In [23]:
m_df = pd.merge(user_log_df, activity_log_df, left_index=True, right_index=True, suffixes=('_user', '_activity'))
m_df

,Date,Time,Uid_user,Uid_activity,Component,Action,Target
0,17/11/2023 00:00,00:00:00,129,129,Course,Viewed,Content
1,10/11/2023 00:00,00:00:01,26,26,Quiz,Updated,Response
2,10/11/2023 00:00,00:00:02,26,26,Quiz,Viewed,Attempt
3,20/12/2023 00:00,00:00:02,86,86,Assignment,Viewed,Assignment
4,20/12/2023 00:00,00:00:03,86,86,Assignment,Viewed,Submission_state
...,...,...,...,...,...,...,...
150830,20/11/2023 00:00,23:59:47,125,125,Course,Viewed,Content
150831,19/12/2023 00:00,23:59:47,86,86,System,Viewed,Content
150832,12/10/2023 00:00,23:59:50,129,129,Course,Viewed,Course
150833,09/11/2023 00:00,23:59:56,26,26,Quiz,Viewed,Attempt
150834,09/11/2023 00:00,23:59:56,26,26,Quiz,Updated,Response

In [24]:
m_df.Uid_user == m_df.Uid_activity

0         True
1         True
2         True
3         True
4         True
          ...
150830    True
150831    True
150832    True
150833    True
150834    True
Length: 150835, dtype: bool

In [25]:
m_df.Uid_user != m_df.Uid_activity

0         False
1         False
2         False
3         False
4         False
          ...
150830    False
150831    False
150832    False
150833    False
150834    False
Length: 150835, dtype: bool

In [29]:
differences = m_df.Uid_user[m_df.Uid_user != m_df.Uid_activity]
differences

Series([], Name: Uid_user, dtype: int64)

In [9]:
user_log_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150835 entries, 0 to 150834
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    150835 non-null  object
 1   Time    150835 non-null  object
 2   Uid     150835 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.5+ MB

In [6]:
merge_log_df = pd.concat([user_log_df, activity_log_df.drop('Uid', axis=1)], axis=1)
merge_log_df

,Date,Time,Uid,Component,Action,Target
0,17/11/2023 00:00,00:00:00,129,Course,Viewed,Content
1,10/11/2023 00:00,00:00:01,26,Quiz,Updated,Response
2,10/11/2023 00:00,00:00:02,26,Quiz,Viewed,Attempt
3,20/12/2023 00:00,00:00:02,86,Assignment,Viewed,Assignment
4,20/12/2023 00:00,00:00:03,86,Assignment,Viewed,Submission_state
...,...,...,...,...,...,...
150830,20/11/2023 00:00,23:59:47,125,Course,Viewed,Content
150831,19/12/2023 00:00,23:59:47,86,System,Viewed,Content
150832,12/10/2023 00:00,23:59:50,129,Course,Viewed,Course
150833,09/11/2023 00:00,23:59:56,26,Quiz,Viewed,Attempt
150834,09/11/2023 00:00,23:59:56,26,Quiz,Updated,Response

In [7]:
component_df.to_sql("components", conn, if_exists='append', index=False)
merge_log_df.to_sql("merge_log", conn, if_exists='append', index=False)

150835

In [11]:
cur = conn.cursor()
for row in cur.execute('SELECT * FROM components;'):
    print(row)

('Course', 'Cour')
('Quiz', 'Quiz')
('Assignment', 'Assign')
('System', 'Sys')
('Lecture', 'Lect')
('Study_material', 'Study_mat')
('Manual', 'Man')
('Survey', 'Survey')
('Folder', 'Fold')
('Attendence', 'Attend')
('Page', 'Page')
('Test', 'Test')
('URL', 'Url')
('Book', 'Book')
('Source', 'Sourc')
('Questionnaire', 'Quest')
('Feedback', 'Feedback')
('Project', 'Proj')

In [4]:
from app import App
g = App()
print(g.do_something())

this is the data

In [1]:
# gui

import tkinter as tk
from tkinter import Menu, messagebox, filedialog, ttk
import random


# Create the main window
root = tk.Tk()
root.title("My Application")  # Set the title
root.geometry("1200x800")  # Set the dimensions

# frame = tk.Frame(root, bg="white")
# frame.pack(side=tk.BOTTOM, fill=tk.X)
#
# mainframe = tk.Frame(root, bg="red")
# mainframe.pack(fill=tk.BOTH)

# columns = ("ID", "Name", "Age")
# data = []
#
# # Predefined lists of names
# first_names = ["Alice", "Bob", "Charlie", "Diana", "Edward", "Fiona"]
# last_names = ["Smith", "Johnson", "Brown", "Taylor", "Anderson", "Lee"]
#
# # Generate a random full name
#
#
# for i in range(100):
#     random_first_name = random.choice(first_names)
#     random_last_name = random.choice(last_names)
#     random_name = f"{random_first_name} {random_last_name}"
#     data.append((i, random_name, random.randint(10000, 100000)))
#
# # Create a Treeview widget
# tree = ttk.Treeview(mainframe, columns=columns, show="headings")
#
# # Define column headings
# for col in columns:
#     tree.heading(col, text=col)
#     tree.column(col, width=100, anchor=tk.CENTER)
#
# # Insert data into the table
# for row in data:
#     tree.insert("", tk.END, values=row)
#
# # Add a scrollbar
# scrollbar = ttk.Scrollbar(mainframe, orient="vertical", command=tree.yview)
# tree.configure(yscroll=scrollbar.set)
# scrollbar.pack(side=tk.RIGHT, fill=tk.Y)
#
# # Place the Treeview
# tree.pack(fill=tk.BOTH, expand=True)

# Create a status bar
# status_bar = tk.Label(frame, text="Status: Ready", anchor=tk.W, bg="white")
# status_bar.pack(fill=tk.X, padx=5, pady=5)


# def set_status(status: str):
#     status_bar.config(text=f"Status: {status}")


def confirm_exit():
    if tk.messagebox.askokcancel("Quit", "Do you really wish to quit?"):
        root.destroy()


# def import_files():
#     file_paths = filedialog.askopenfilenames(
#         title="Select Files",
#         filetypes=(("CSV Files", "*.csv"), ("All Files", "*.*"))
#     )
#     set_status("Opening file....")
#
#     if file_paths:  # Check if any files were selected
#         for file_path in file_paths:
#             try:
#                 with open(file_path, "r") as file:
#                     content = file.read()
#                     print(f"Content of {file_path}:")
#                     print(content)
#                     print("-" * 50)  # Separator for readability
#             except Exception as e:
#                 print(f"Error opening {file_path}: {e}")


# # Create a menu bar
# menu_bar = Menu(root)
# root.config(menu=menu_bar)
#
# # Add some menu items (optional)
# file_menu = Menu(menu_bar, tearoff=0)
# file_menu.add_command(label="New".ljust(25))
# file_menu.add_command(label="Import CSV Files", command=import_files)
# file_menu.add_command(label="Save")
# file_menu.add_separator()
# file_menu.add_command(label="Exit", command=confirm_exit)
# menu_bar.add_cascade(label="Actions", menu=file_menu)

def create_layout(root):
    # Configure the root window grid
    root.grid_rowconfigure(1, weight=1)  # Middle row expands
    root.grid_columnconfigure(0, weight=1)  # Allow the content to stretch horizontally

    # Top row
    top_frame = tk.Frame(root, bg="lightblue", height=50)
    top_frame.grid(row=0, column=0, sticky="nsew")
    top_frame.grid_propagate(False)  # Prevent resizing

    # Middle row
    middle_frame = tk.Frame(root, bg="white")
    middle_frame.grid(row=1, column=0, sticky="nsew")

    # Bottom row
    bottom_frame = tk.Frame(root, bg="lightgray", height=50)
    bottom_frame.grid(row=2, column=0, sticky="nsew")
    bottom_frame.grid_propagate(False)  # Prevent resizing

    # Add sample content to frames
    tk.Label(top_frame, text="Top Row", bg="lightblue").pack(padx=10, pady=10)
    tk.Label(middle_frame, text="Middle Row (Expands)", bg="white").pack(padx=10, pady=10)
    tk.Label(bottom_frame, text="Bottom Row row baby", bg="lightgray").pack(padx=10, pady=10)


create_layout(root)

# Keep the window running
root.mainloop()

In [1]:
from app import App
g = App()
g.run()

AttributeError: '_tkinter.tkapp' object has no attribute 'run'